body {
	width: 1170px;
	margin: 0 auto;
}
nav {
	padding: 0 100px;
	background-color: #fafafa;
}
a.brand-logo {
	padding: 2px 30px;
}
section.CTA-banner {
	height: 400px;
	line-height: 5px;
	color: white;
	display: flex;
	background-image: url(http://pipsum.com/1170x400.jpg);
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
section.CTA-banner a {
	background-color: #449BE7;
	border: 1px;
	border-radius: 5px;
}
section.credibility-logos {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 100px;
}
section.subscribe-buttons {
	padding: 0 100px;
	height: 200px;
	color: white;
	background-color: #449BE7;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
div.podcasts {
	display: flex;
	justify-content: space-between;
}
p.top-rated {
	font-size: 20px;
}
ul.show li{
	list-style-type: disc;
}
section.featured-guests {
	height: 500px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}
div.cards {
	padding: 0 50px;
	display: flex;
	flex-direction: row;
}
div.onecard {
	margin: 0 20px;
	width: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.bluetext {
	color: #449BE7;
}
div.card-stacked {
	max-width: 230px;
}
div.card-content p {
	font-size: 13px;
}
section.latest-episodes {
	height: 500px;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: space-around;
}
div.onecardv {
	width: 200px;
	margin: 10px;
}
a.older {
	margin-right: 800px;
	font-size: 10px;
}
a.more-ep {
	font-size: 17px;
	border: 2px solid #449BE7;
	padding: 10px 20px;
}
section.popular-episodes-wigets {
	height: 900px;
    margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
article.popular-episodes {
	width: 600px;
	padding: 10px 30px;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
}
div.onecardg {
	padding: 20px 0;
	display: flex;
	flex-direction: row;	
}
div.card-stackedg {
	padding-left: 20px;
	font-size: 19px;
}
aside.social-media-widgets {
	width: 300px;
	padding: 10px 20px;
}
div.linktw {
	font-size: 12px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
section.how-to-consume {
	height: 250px;
	background-color: gainsboro;
}
article.epilogue {
	height: 500px;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
div.finallogo {
	width: 400px;
	margin: 40px 50px;
	font-size: 12px;
	display: flex;
	flex-direction: column;
}
div.lastchance {
	width: 400px;
	margin: 40px 50px;
	text-align: center;
}
div.rights {
	height: 50px;
	background-color: #1A1A1A;
	color: white;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}